# Code owners globais (substitua ORG pelo nome da sua organização)

- @testando-gitflow/dev-frontend @testando-gitflow/dev-backend @testando-gitflow/dev-seniors

# Responsáveis específicos por áreas do repo

/frontend/** @testando-gitflow/dev-frontend @testando-gitflow/dev-seniors
/backend/** @testando-gitflow/dev-backend @testando-gitflow/dev-seniors
